# Skip WordPress rules for /app
RewriteCond %{REQUEST_URI} ^/app /
RewriteRule ^ - [L]
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/rcprhkdi/rcpro.in/app"
PassengerBaseURI "/app"
PassengerPython "/home/rcprhkdi/virtualenv/rcpro.in/app/3.6/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END